.container
  .header
    = link_to root_path do
      %p.header_left.post_cansel 戻る
    %p.page_title 記事を投稿
    %ul
  - @article.errors.full_messages.each do |message|
    %li= message
  .post_user-data
    = image_tag current_user.avatar_image, class: 'post_avatar'
    %p.post_name= current_user.user_name
  = form_with( model: @article, url: articles_path, method: 'post', local: true ) do |f|
    %div.post_content
      = f.text_field :content, placeholder: ' 今日はどう過ごしましたか ? ', class: 'text'
    %label.post_contents_image
      + 画像
      = f.file_field :images, multiple: true
    %div
      = f.submit 'ポスト', class: 'header_right'
      