.container
  .article
    .article_nav
      = link_to account_path(article.user) do
        = image_tag article.user.avatar_image, class: 'article_nav_avatar'
      .article_nav_text
        .article_nav_text_name
          %p= article.user.user_name
        .article_nav_text_time
          %p= article.display_created_at
    .article_content
      - article.images.each do |images| 
        = image_tag images, class: 'article_content_image'
    .article_action
      - if user_signed_in?
        .article_heart.hidden.active-heart{:id => article.id}
          = image_tag 'heart-active.svg', class: 'article_icon'
        .article_heart.hidden.inactive-heart{:id => article.id}
          = image_tag 'heart.svg', class: 'article_icon'
        - if current_user.has_written?(article)
          = link_to article_path(article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } do
            = image_tag 'trash.svg', class: 'article_icon'
      = link_to article_comments_path(article) do
        = image_tag 'comment.svg', class: 'article_icon'
      = link_to "https://twitter.com/share?url=#{request.url}/&text=これはいいサービスだ！", target: '_blank' do
        = image_tag 'share.svg', class: 'article_icon share-twitter'
    .article_text
      .article_user_name
        %p= article.user.user_name 
      .article_text_content
        %p= article.content