.container
  .article
    .article_nav
      = image_tag 'article-avatar.png', class: 'article_nav_avatar'
      .article_nav_text
        .article_nav_text_name
          %p ____sktm____
        .article_nav_text_time
          %p 3 hours ago
    .article_content
      - article.images.each do |images| 
        = image_tag images, class: 'article_content_image'
    .article_action
      - if current_user.has_liked?(article)
        = link_to article_like_path(article), data: { method: 'delete' } do
          = image_tag 'heart-active.svg', class: 'article_icon'
      - else
        = link_to article_like_path(article), data: { method: 'post' } do
          = image_tag 'heart.svg', class: 'article_icon'
      = image_tag 'comment.png', class: 'article_icon'
      = image_tag 'share.png', class: 'article_icon'
    .article_liked
      %p Jasmine and 12000 other liked your post
    .article_text
      .article_user_name
        %p ____sktm____
      .article_text_content
        %p= article.content