- if user_signed_in?
  = image_tag current_user.avatar_image, class: 'header_right modalbtn header_btn', id: 'openModal'
  %section#modalArea.modalArea
    #modalBg.modalBg
      .modalWrapper
        .modalContents
          %h2= link_to 'ホーム', root_path
          %h2= link_to 'ポスト', new_article_path
          %h2= link_to 'プロフィール', profile_path
          %h2= link_to 'タイムライン', timelines_path
          %h2= link_to 'お気に入り', favorites_path
          %h2= link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
        #closeModal.closeModal
          ×
- else
  = link_to 'ログイン', new_user_session_path, class: 'login_btn'