.container
  .header
    = link_to :back do
      = image_tag 'back.svg', class: 'header_left'
    = render 'commons/modal'
    %p.page_title タイムライン
  - @articles.each do |article|
    = render 'commons/article', article: article

= javascript_pack_tag 'article'