.profile.container#account-show{data: {account_id: @user.id}}
  .header
    = link_to root_path do
      = image_tag 'back.svg', class: 'header_left'
    %p.header_right.hidden.btn-following Following
    %p.header_right.hidden.btn-follow Follow
    .profile_name
      %p.page_title= @user.user_name
  .profile_avatar
    = image_tag @user.avatar_image, class: 'profile_image'
  .profile_info
    .profile_info_posts
      %p.profile_info_num 44
      %p.profile_info_text Posts
    = link_to account_followers_path(@user) do
      .profile_info_followers
        %p.profile_info_num.follower_count= @user.follower_count
        %p.profile_info_text Followers
    = link_to account_followings_path(@user) do
      .profile_info_following
        %p.profile_info_num= @user.following_count
        %p.profile_info_text Following