.profile.container#account-show{data: {account_id: @user.id}}
  .header
    = link_to root_path do
      = image_tag 'back.svg', class: 'header_left'
    - if user_signed_in?
      %p.header_right.hidden.btn-following フォロー中
      %p.header_right.hidden.btn-follow フォロー
    .profile_name
      %p.page_title= @user.user_name
  .profile_avatar
    = image_tag @user.avatar_image, class: 'profile_image'
  .profile_info
    .profile_info_posts
      %p.profile_info_num= @user.article_count
      %p.profile_info_text 投稿
    = link_to account_followers_path(@user) do
      .profile_info_followers
        %p.profile_info_num.follower_count= @user.follower_count
        %p.profile_info_text フォロワー
    = link_to account_followings_path(@user) do
      .profile_info_following
        %p.profile_info_num= @user.following_count
        %p.profile_info_text フォロー
  - @user.articles.each do |article|
    = render 'commons/article', article: article
= javascript_pack_tag 'follow'
= javascript_pack_tag 'article'