.profile.container
  .header
    = link_to root_path do
      = image_tag 'back.svg', class: 'header_left'
    - if current_user&.has_followed?(@user)
      = link_to account_unfollows_path(@user), data: { method: 'post'} do
        %p.header_right Followed
    - else
      = link_to account_follows_path(@user), data: { method: 'post'} do
        %p.header_right Follow
    .profile_name
      %p.page_title= @user.user_name
  .profile_avatar
    = image_tag @user.avatar_image, class: 'profile_image'
  .profile_info
    .profile_info_posts
      %p.profile_info_num 44
      %p.profile_info_text Posts
    = link_to account_followers_path(@user) do
      .profile_info_followers
        %p.profile_info_num 44
        %p.profile_info_text Followers
    = link_to account_followings_path(@user) do
      .profile_info_following
        %p.profile_info_num 44
        %p.profile_info_text Following